#landing {
  display: flex;
  flex-direction: column;

  height: 90vh;
  justify-content: center;
  align-items: center;

  width: 100vw;
  margin: auto;

  h1 {
    justify-self: start;
  }

  .partySize {
    display: flex;
    width: 80%;
    justify-content: space-evenly;

    div {
      cursor: pointer;
      text-align: center;
      padding: 16px;
      width: 100%;
      margin-left: 1px;
      margin-right: 1px;

      &:hover {
        background-color: rgba(190, 255, 200, 1);
      }
    }
  }

  .dates {
    display: flex;
    justify-content: center;
    input {
      max-width: 30%;
      margin: 4px;
    }
  }
}

.active {
  background-color: rgba(180, 247, 64, 0.9);
}

.inactive {
  background-color: aliceblue;
}
